---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hdfs-operator-deployment
  labels:
    app.kubernetes.io/name: hdfs-operator
    app.kubernetes.io/instance: hdfs-operator
    app.kubernetes.io/version: "0.5.0-nightly"
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: hdfs-operator
      app.kubernetes.io/instance: hdfs-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/name: hdfs-operator
        app.kubernetes.io/instance: hdfs-operator
    spec:
      serviceAccountName: hdfs-operator-serviceaccount
      securityContext: {}
      containers:
        - name: hdfs-operator
          securityContext: {}
          image: "docker.stackable.tech/stackable/hdfs-operator:0.5.0-nightly"
          imagePullPolicy: IfNotPresent
          resources: {}
          env:
            - name: HDFS_DATANODE_CLUSTERROLE
              value: hdfs-operator-hdfs-datanode-clusterrole
          volumeMounts:
            - mountPath: /etc/stackable/hdfs-operator/config-spec
              name: config-spec
      volumes:
        - name: config-spec
          configMap:
            name: hdfs-operator-configmap
