---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: hdfs-operator-clusterrole
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
      - configmaps
      - services
      - endpoints
      - serviceaccounts
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - rolebinding
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - create
      - delete
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
  - apiGroups:
      - command.hdfs.stackable.tech
    resources:
      - inits
      - restarts
      - starts
      - stops
      - formats
    verbs:
      - get
      - list
      - patch
      - watch
  - apiGroups:
      - command.hdfs.stackable.tech
    resources:
      - inits/status
    verbs:
      - patch
  - apiGroups:
      - hdfs.stackable.tech
    resources:
      - hdfsclusters
    verbs:
      - get
      - list
      - patch
      - watch
  - apiGroups:
      - hdfs.stackable.tech
    resources:
      - hdfsclusters/status
    verbs:
      - patch
