---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: |
      kubectl apply -n $NAMESPACE -f - <<EOF
      ---
      apiVersion: secrets.stackable.tech/v1alpha1
      kind: SecretClass
      metadata:
        name: kerberos-$NAMESPACE
      spec:
        backend:
          kerberosKeytab:
            realmName: {{ test_scenario['values']['kerberos-realm'] }}
            kdc: krb5-kdc.$NAMESPACE.svc.cluster.local
            adminServer: krb5-kdc.$NAMESPACE.svc.cluster.local
            adminKeytabSecret:
              namespace: $NAMESPACE
              name: secret-operator-keytab
            adminPrincipal: stackable-secret-operator
      EOF
