---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: hdfs-zk
spec:
  image:
    productVersion: "{{ test_scenario['values']['zookeeper-latest'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['zookeeper-latest'].split('-stackable')[1] }}"
  clusterConfig:
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    logging:
      vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  servers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      resources:
        cpu:
          min: '300m'
          max: '600m'
        memory:
          limit: '512Mi'
    roleGroups:
      default:
        replicas: 1
