---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: opa
spec:
  image:
{% if test_scenario['values']['opa'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['opa'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['opa'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['opa'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  servers:
    roleGroups:
      default: {}
