---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: opa
spec:
  image:
    productVersion: "{{ test_scenario['values']['opa'] }}"
  servers:
    roleGroups:
      default: {}
