---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: hdfs
spec:
  image:
{% if test_scenario['values']['hadoop'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['hadoop'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['hadoop'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['hadoop'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    zookeeperConfigMapName: hdfs-zk
    dfsReplication: 1
    authentication:
      tlsSecretClass: tls
      kerberos:
        secretClass: kerberos-$NAMESPACE
    authorization:
      opa:
        configMapName: opa
        package: hdfs
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  nameNodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
        containers:
          hdfs:
            console:
              level: DEBUG
            loggers:
              ROOT:
                level: INFO
              tech.stackable.hadoop:
                level: DEBUG
    configOverrides:
      core-site.xml:
        hadoop.http.filter.initializers: org.apache.hadoop.security.AuthenticationFilterInitializer
        hadoop.http.authentication.type: kerberos
        hadoop.http.authentication.kerberos.principal: HTTP/hdfs.$NAMESPACE.svc.cluster.local@${env.KERBEROS_REALM}
        hadoop.http.authentication.kerberos.keytab: /stackable/kerberos/keytab
        dfs.namenode.kerberos.internal.spnego.principal: nn/hdfs.$NAMESPACE.svc.cluster.local@${env.KERBEROS_REALM}
        dfs.web.authentication.kerberos.keytab: /stackable/kerberos/keytab
        # dfs.secondary.namenode.kerberos.principal: nn/hdfs.$NAMESPACE.svc.cluster.local@${env.KERBEROS_REALM}
        # dfs.secondary.namenode.keytab.file: /stackable/kerberos/keytab
        # dfs.secondary.namenode.kerberos.internal.spnego.principal: nn/hdfs.$NAMESPACE.svc.cluster.local@${env.KERBEROS_REALM}
    podOverrides:
      spec:
        containers:
          - name: namenode
            livenessProbe: &livenessProbe
              # This does not work, so we need to disable the livenessProbe entirely
              # httpGet: null
              # tcpSocket:
              #   port: https

              # Turn off liveness check
              failureThreshold: 99999999
    roleGroups:
      default:
        replicas: 2
  dataNodes:
    config:
      requestedSecretLifetime: 2d
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    configOverrides: *configOverrides
    podOverrides:
      spec:
        containers:
          - name: datanode
            livenessProbe: *livenessProbe
    roleGroups:
      default:
        replicas: 2
  journalNodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    configOverrides: *configOverrides
    podOverrides:
      spec:
        containers:
          - name: journalnode
            livenessProbe: *livenessProbe
    roleGroups:
      default:
        replicas: 1 # 3
        config:
          requestedSecretLifetime: 3d
