---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: |
      kubectl apply -n $NAMESPACE -f - <<EOF
      ---
      apiVersion: hdfs.stackable.tech/v1alpha1
      kind: HdfsCluster
      metadata:
        name: hdfs
      spec:
        image:
          productVersion: "{{ test_scenario['values']['hadoop-latest'] }}"
        clusterConfig:
          zookeeperConfigMapName: hdfs-zk
          dfsReplication: 1
          authentication:
            tlsSecretClass: tls
            kerberos:
              secretClass: kerberos-$NAMESPACE
          authorization:
            opaAuthorization:
              configMapName: opa
              package: hdfs
            opaGroupMapping:
              configMapName: opa
              package: hdfs
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
          vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
        nameNodes:
          config:
            logging:
              enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
              containers:
                hdfs:
                  console:
                    level: DEBUG
                  loggers:
                    ROOT:
                      level: INFO
                    tech.stackable.hadoop:
                      level: DEBUG
          envOverrides: &envOverrides
            # FIXME: Remove once https://github.com/stackabletech/docker-images/pull/569 is merged
            HADOOP_CLASSPATH: "/stackable/hadoop/share/hadoop/tools/lib/*.jar"
          roleGroups:
            default:
              replicas: 2
        dataNodes:
          config:
            logging:
              enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
          envOverrides: *envOverrides
          roleGroups:
            default:
              replicas: 2
        journalNodes:
          config:
            logging:
              enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
          envOverrides: *envOverrides
          roleGroups:
            default:
              replicas: 3
      EOF
