---
apiVersion: batch/v1
kind: Job
metadata:
  name: access-hdfs
spec:
  template:
    spec:
      serviceAccountName: test-sa
      containers:
        - name: access-hdfs
{% if test_scenario['values']['hadoop'].find(",") > 0 %}
          image: "{{ test_scenario['values']['hadoop'].split(',')[1] }}"
{% else %}
          image: oci.stackable.tech/sdp/hadoop:{{ test_scenario['values']['hadoop'] }}-stackable0.0.0-dev
{% endif %}
          env:
            - name: HADOOP_CONF_DIR
              value: /stackable/conf/hdfs
            - name: KRB5_CONFIG
              value: /stackable/kerberos/krb5.conf
            - name: HADOOP_OPTS
              value: -Djava.security.krb5.conf=/stackable/kerberos/krb5.conf
          command:
            - /bin/bash
            - -c
            - |
              set -ex
              klist -k /stackable/kerberos/keytab

              # Does not work because of env var substitution problems
              # log_in () { kdestroy; kinit -kt /stackable/kerberos/keytab $1/access-hdfs.$NAMESPACE.svc.cluster.local; }

              kdestroy; kinit -kt /stackable/kerberos/keytab admin/access-hdfs.$NAMESPACE.svc.cluster.local
              bin/hdfs dfs -ls /
              bin/hdfs dfs -mkdir -p /alice
              bin/hdfs dfs -mkdir -p /bob
              bin/hdfs dfs -mkdir -p /developers
              bin/hdfs dfs -mkdir -p /developers-ro
              bin/hdfs dfs -ls -R /

              kdestroy; kinit -kt /stackable/kerberos/keytab alice/access-hdfs.$NAMESPACE.svc.cluster.local
              bin/hdfs dfs -ls / && exit 1
              bin/hdfs dfs -ls /alice
              bin/hdfs dfs -ls /bob && exit 1
              bin/hdfs dfs -ls /developers
              bin/hdfs dfs -ls /developers-ro

              bin/hdfs dfs -put -f /etc/hosts /alice/
              bin/hdfs dfs -put -f /etc/hosts /bob/ && exit 1
              bin/hdfs dfs -put -f /etc/hosts /developers/
              bin/hdfs dfs -put -f /etc/hosts /developers-ro/ && exit 1

              kdestroy; kinit -kt /stackable/kerberos/keytab bob/access-hdfs.$NAMESPACE.svc.cluster.local
              bin/hdfs dfs -ls / && exit 1
              bin/hdfs dfs -ls /alice && exit 1
              bin/hdfs dfs -ls /bob
              bin/hdfs dfs -ls /developers
              bin/hdfs dfs -ls /developers-ro && exit 1

              echo "Test passed"
              exit 0
          volumeMounts:
            - name: hdfs-config
              mountPath: /stackable/conf/hdfs
            - name: kerberos
              mountPath: /stackable/kerberos
      volumes:
        - name: hdfs-config
          configMap:
            name: hdfs
        - name: kerberos
          ephemeral:
            volumeClaimTemplate:
              metadata:
                annotations:
                  secrets.stackable.tech/class: kerberos-$NAMESPACE
                  secrets.stackable.tech/scope: service=access-hdfs
                  secrets.stackable.tech/kerberos.service.names: admin,alice,bob
              spec:
                storageClassName: secrets.stackable.tech
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: "1"
      securityContext:
        fsGroup: 1000
      restartPolicy: OnFailure
