# Tribute to https://github.com/Netflix/chaosmonkey
# We added this test case after running into problems reported in https://github.com/stackabletech/hdfs-operator/issues/338

# We need to force-delete the Pods, because IONOS is sometimes unable to delete the pod (it's stuck in Terminating for > 20 minutes)
