[package]
authors = ["Stackable GmbH info@stackable.de"]
description = "Stackable Operator for Apache HDFS"
edition = "2021"
license = "OSL-3.0"
name = "stackable-hdfs-operator-binary"
repository = "https://github.com/stackabletech/hdfs-operator"
version = "0.5.0-nightly"
build = "build.rs"

[dependencies]
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.24.0" }
stackable-hdfs-crd = { path = "../crd" }
stackable-hdfs-operator = { path = "../operator" }
clap = { version = "3.2", features = ["derive"] }
tokio = { version = "1.20", features = ["macros", "rt-multi-thread"] }
tracing = "0.1"
serde_yaml = "0.9"

[build-dependencies]
built = { version =  "0.5", features = ["chrono", "git2"] }
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.24.0" }
stackable-hdfs-crd = { path = "../crd" }

[[bin]]
name = "stackable-hdfs-operator"
path = "src/stackable-hdfs-operator.rs"
