tests/_work/
debug/
target/
**/*.rs.bk

.idea/
*.iws
*.iml

*.tgz

Cargo.nix
crate-hashes.json
result
image.tar

tilt_options.json

deploy/olm/*/bundle
deploy/olm/*/bundle.Dockerfile
deploy/olm/*/catalog.Dockerfile
deploy/olm/*/catalog
