---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-hdfs
timeout: 180
---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: hdfs
spec:
  image:
    productVersion: "{{ test_scenario['values']['hadoop'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['hadoop'].split('-stackable')[1] }}"
  zookeeperConfigMapName: hdfs-zk
  dfsReplication: 1
  nameNodes:
    config:
      resources:
        cpu:
          max: '1'
          min: '300m'
        memory:
          limit: '512Mi'
    roleGroups:
      default:
        replicas: 2
  dataNodes:
    config:
      resources:
        cpu:
          max: '1'
          min: '300m'
        memory:
          limit: '512Mi'
        storage:
{% if test_scenario['values']['datanode-pvcs'] != 'default' %}
          numberOfDataPvcs: {{ test_scenario['values']['datanode-pvcs'] }}
{% endif %}
          data:
            capacity: 2Gi
    roleGroups:
      default:
        replicas: {{ test_scenario['values']['number-of-datanodes'] }}
  journalNodes:
    config:
      resources:
        cpu:
          max: '1'
          min: '300m'
        memory:
          limit: '512Mi'
    roleGroups:
      default:
        replicas: 1
