---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 600
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: hdfs-namenode-default
status:
  readyReplicas: 2
  replicas: 2
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: hdfs-journalnode-default
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: hdfs-datanode-default
status:
  readyReplicas: {{ test_scenario['values']['number-of-datanodes'] }}
  replicas: {{ test_scenario['values']['number-of-datanodes'] }}
{% if test_scenario['values']['datanode-pvcs'] == '2hdd-1ssd' %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hdd-hdfs-datanode-default-0
status:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 2Gi
  phase: Bound
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hdd-1-hdfs-datanode-default-0
status:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 2Gi
  phase: Bound
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ssd-hdfs-datanode-default-0
status:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 1Gi
  phase: Bound
{% endif %}
