core-site.xml: |-
  <?xml version="1.0"?>
  <configuration>
    <property>
      <name>fs.defaultFS</name>
      <value>hdfs://hdfs/</value>
    </property>
    <property>
      <name>ha.zookeeper.quorum</name>
      <value>${env.ZOOKEEPER}</value>
    </property>
    <property>
      <name>hadoop.prometheus.endpoint.enabled</name>
      <value>true</value>
    </property>
    <property>
      <name>io.file.buffer.size</name>
      <value>131072</value>
    </property>
  </configuration>
hadoop-policy.xml: |-
  <?xml version="1.0"?>
  <configuration>
  </configuration>
hdfs-site.xml: |-
  <?xml version="1.0"?>
  <configuration>
    <property>
      <name>dfs.client.failover.proxy.provider.hdfs</name>
      <value>org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider</value>
    </property>
    <property>
      <name>dfs.datanode.data.dir</name>
      <value>$DATANODE_DATA_DIR</value>
    </property>
    <property>
      <name>dfs.datanode.handler.count</name>
      <value>50</value>
    </property>
    <property>
      <name>dfs.datanode.max.transfer.threads</name>
      <value>8192</value>
    </property>
    <property>
      <name>dfs.datanode.registered.hostname</name>
      <value>${env.POD_ADDRESS}</value>
    </property>
    <property>
      <name>dfs.datanode.registered.http.port</name>
      <value>${env.HTTP_PORT}</value>
    </property>
    <property>
      <name>dfs.datanode.registered.ipc.port</name>
      <value>${env.IPC_PORT}</value>
    </property>
    <property>
      <name>dfs.datanode.registered.port</name>
      <value>${env.DATA_PORT}</value>
    </property>
    <property>
      <name>dfs.datanode.sync.behind.writes</name>
      <value>true</value>
    </property>
    <property>
      <name>dfs.datanode.synconclose</name>
      <value>true</value>
    </property>
    <property>
      <name>dfs.ha.automatic-failover.enabled</name>
      <value>true</value>
    </property>
    <property>
      <name>dfs.ha.fencing.methods</name>
      <value>shell(/bin/true)</value>
    </property>
    <property>
      <name>dfs.ha.namenode.id</name>
      <value>${env.POD_NAME}</value>
    </property>
    <property>
      <name>dfs.ha.namenodes.hdfs</name>
      <value>hdfs-namenode-default-0,hdfs-namenode-default-1</value>
    </property>
    <property>
      <name>dfs.journalnode.edits.dir</name>
      <value>/stackable/data/journalnode</value>
    </property>
    <property>
      <name>dfs.namenode.datanode.registration.unsafe.allow-address-override</name>
      <value>true</value>
    </property>
    <property>
      <name>dfs.namenode.handler.count</name>
      <value>50</value>
    </property>
    <property>
      <name>dfs.namenode.http-address.hdfs.hdfs-namenode-default-0</name>
      <value>hdfs-namenode-default-0.hdfs-namenode-default.$NAMESPACE.svc.cluster.local:9870</value>
    </property>
    <property>
      <name>dfs.namenode.http-address.hdfs.hdfs-namenode-default-1</name>
      <value>hdfs-namenode-default-1.hdfs-namenode-default.$NAMESPACE.svc.cluster.local:9870</value>
    </property>
    <property>
      <name>dfs.namenode.name.dir</name>
      <value>/stackable/data/namenode</value>
    </property>
    <property>
      <name>dfs.namenode.name.dir.hdfs.hdfs-namenode-default-0</name>
      <value>/stackable/data/namenode</value>
    </property>
    <property>
      <name>dfs.namenode.name.dir.hdfs.hdfs-namenode-default-1</name>
      <value>/stackable/data/namenode</value>
    </property>
    <property>
      <name>dfs.namenode.replication.max-streams</name>
      <value>4</value>
    </property>
    <property>
      <name>dfs.namenode.replication.max-streams-hard-limit</name>
      <value>8</value>
    </property>
    <property>
      <name>dfs.namenode.rpc-address.hdfs.hdfs-namenode-default-0</name>
      <value>hdfs-namenode-default-0.hdfs-namenode-default.$NAMESPACE.svc.cluster.local:8020</value>
    </property>
    <property>
      <name>dfs.namenode.rpc-address.hdfs.hdfs-namenode-default-1</name>
      <value>hdfs-namenode-default-1.hdfs-namenode-default.$NAMESPACE.svc.cluster.local:8020</value>
    </property>
    <property>
      <name>dfs.namenode.shared.edits.dir</name>
      <value>qjournal://hdfs-journalnode-default-0.hdfs-journalnode-default.$NAMESPACE.svc.cluster.local:8485/hdfs</value>
    </property>
    <property>
      <name>dfs.nameservices</name>
      <value>hdfs</value>
    </property>
    <property>
      <name>dfs.replication</name>
      <value>1</value>
    </property>
  </configuration>
hdfs.log4j.properties: |+
  log4j.rootLogger=INFO, CONSOLE, FILE

  log4j.appender.CONSOLE=org.apache.log4j.ConsoleAppender
  log4j.appender.CONSOLE.Threshold=INFO
  log4j.appender.CONSOLE.layout=org.apache.log4j.PatternLayout
  log4j.appender.CONSOLE.layout.ConversionPattern=%d{ISO8601} %-5p %c{2} (%F:%M(%L)) - %m%n

  log4j.appender.FILE=org.apache.log4j.RollingFileAppender
  log4j.appender.FILE.Threshold=INFO
  log4j.appender.FILE.File=/stackable/log/hdfs/hdfs.log4j.xml
  log4j.appender.FILE.MaxFileSize=5MB
  log4j.appender.FILE.MaxBackupIndex=1
  log4j.appender.FILE.layout=org.apache.log4j.xml.XMLLayout

security.properties: |
  networkaddress.cache.negative.ttl=0
  networkaddress.cache.ttl=30
ssl-client.xml: |-
  <?xml version="1.0"?>
  <configuration>
  </configuration>
ssl-server.xml: |-
  <?xml version="1.0"?>
  <configuration>
  </configuration>
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
vector.yaml: |
  ---
  data_dir: ${DATA_DIR}

  log_schema:
    host_key: pod

  sources:
    # Reads the internal Vector logs
    vector:
      type: internal_logs

    files_stdout:
      type: file
      include:
        - ${LOG_DIR}/*/*.stdout.log

    files_stderr:
      type: file
      include:
        - ${LOG_DIR}/*/*.stderr.log

    files_log4j:
      type: file
      include:
        - ${LOG_DIR}/*/*.log4j.xml
      line_delimiter: "\r\n"
      multiline:
        mode: halt_before
        start_pattern: ^<log4j:event
        condition_pattern: ^<log4j:event
        timeout_ms: 1000

  transforms:
    processed_files_stdout:
      inputs:
        - files_stdout
      type: remap
      source: |
        .logger = "ROOT"
        .level = "INFO"

    processed_files_stderr:
      inputs:
        - files_stderr
      type: remap
      source: |
        .logger = "ROOT"
        .level = "ERROR"

    processed_files_log4j:
      inputs:
        - files_log4j
      type: remap
      source: |
        raw_message = string!(.message)

        .timestamp = now()
        .logger = ""
        .level = "INFO"
        .message = ""
        .errors = []

        # Wrap the event so that the log4j namespace is defined when parsing the event
        wrapped_xml_event = "<root xmlns:log4j=\"http://jakarta.apache.org/log4j/\">" + raw_message + "</root>"
        parsed_event, err = parse_xml(wrapped_xml_event)
        if err != null {
          error = "XML not parsable: " + err
          .errors = push(.errors, error)
          log(error, level: "warn")
          .message = raw_message
        } else {
          root = object!(parsed_event.root)
          if !is_object(root.event) {
            error = "Parsed event contains no \"event\" tag."
            .errors = push(.errors, error)
            log(error, level: "warn")
            .message = raw_message
          } else {
            if keys(root) != ["event"] {
              .errors = push(.errors, "Parsed event contains multiple tags: " + join!(keys(root), ", "))
            }
            event = object!(root.event)

            epoch_milliseconds, err = to_int(event.@timestamp)
            if err == null && epoch_milliseconds != 0 {
              converted_timestamp, err = from_unix_timestamp(epoch_milliseconds, "milliseconds")
              if err == null {
                .timestamp = converted_timestamp
              } else {
                .errors = push(.errors, "Time not parsable, using current time instead: " + err)
              }
            } else {
              .errors = push(.errors, "Timestamp not found, using current time instead.")
            }

            .logger, err = string(event.@logger)
            if err != null || is_empty(.logger) {
              .errors = push(.errors, "Logger not found.")
            }

            level, err = string(event.@level)
            if err != null {
              .errors = push(.errors, "Level not found, using \"" + .level + "\" instead.")
            } else if !includes(["TRACE", "DEBUG", "INFO", "WARN", "ERROR", "FATAL"], level) {
              .errors = push(.errors, "Level \"" + level + "\" unknown, using \"" + .level + "\" instead.")
            } else {
              .level = level
            }

            message, err = string(event.message)
            if err != null || is_empty(message) {
              .errors = push(.errors, "Message not found.")
            }
            throwable = string(event.throwable) ?? ""
            .message = join!(compact([message, throwable]), "\n")
          }
        }

    # Extends the processed files with the fields "container" and "file"
    extended_logs_files:
      inputs:
        - processed_files_*
      type: remap
      source: |
        del(.source_type)
        if .errors == [] {
          del(.errors)
        }
        . |= parse_regex!(.file, r'^${LOG_DIR}/(?P<container>.*?)/(?P<file>.*?)$')

    # Filters the logs of the Vector agent according to the defined log level
    filtered_logs_vector:
      inputs:
        - vector
      type: filter
      condition: >
        (.metadata.level == "TRACE" && "${VECTOR_FILE_LOG_LEVEL}" == "trace") ||
        (.metadata.level == "DEBUG" && includes(["trace", "debug"], "${VECTOR_FILE_LOG_LEVEL}")) ||
        (.metadata.level == "INFO" && includes(["trace", "debug", "info"], "${VECTOR_FILE_LOG_LEVEL}")) ||
        (.metadata.level == "WARN" && includes(["trace", "debug", "info", "warn"], "${VECTOR_FILE_LOG_LEVEL}")) ||
        (.metadata.level == "ERROR" && includes(["trace", "debug", "info", "warn", "error"], "${VECTOR_FILE_LOG_LEVEL}"))

    # Aligns the logs of the Vector agent with the common format
    extended_logs_vector:
      inputs:
        - filtered_logs_vector
      type: remap
      source: |
        .container = "vector"
        .level = .metadata.level
        .logger = .metadata.module_path
        if exists(.file) { .processed_file = del(.file) }
        del(.metadata)
        del(.pid)
        del(.source_type)

    # Add the fields "namespace", "cluster", "role" and "roleGroup" to all logs
    extended_logs:
      inputs:
        - extended_logs_*
      type: remap
      source: |
        .namespace = "${NAMESPACE}"
        .cluster = "${CLUSTER_NAME}"
        .role = "${ROLE_NAME}"
        .roleGroup = "${ROLE_GROUP_NAME}"

  sinks:
    # Forward the logs to the Vector aggregator
    aggregator:
      inputs:
        - extended_logs
      type: vector
      address: ${VECTOR_AGGREGATOR_ADDRESS}
{% endif -%}
wait-for-namenodes.log4j.properties: |+
  log4j.rootLogger=INFO, CONSOLE, FILE

  log4j.appender.CONSOLE=org.apache.log4j.ConsoleAppender
  log4j.appender.CONSOLE.Threshold=INFO
  log4j.appender.CONSOLE.layout=org.apache.log4j.PatternLayout
  log4j.appender.CONSOLE.layout.ConversionPattern=%d{ISO8601} %-5p %c{2} (%F:%M(%L)) - %m%n

  log4j.appender.FILE=org.apache.log4j.RollingFileAppender
  log4j.appender.FILE.Threshold=INFO
  log4j.appender.FILE.File=/stackable/log/wait-for-namenodes/wait-for-namenodes.log4j.xml
  log4j.appender.FILE.MaxFileSize=5MB
  log4j.appender.FILE.MaxBackupIndex=1
  log4j.appender.FILE.layout=org.apache.log4j.xml.XMLLayout

