---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
commands:
  - script: |
{% if test_scenario['values']['hadoop'].find(",") > 0 %}
      PRODUCT_VERSION={{ test_scenario['values']['hadoop'].split(',')[0] }}
{% else %}
      PRODUCT_VERSION={{ test_scenario['values']['hadoop'] }}
{% endif %}
      # Test exported metrics
      kubectl exec --namespace=$NAMESPACE test-runner-0 -- \
      python /tmp/test_jmx_metrics.py $NAMESPACE $PRODUCT_VERSION
      kubectl exec --namespace=$NAMESPACE test-runner-0 -- \
      python /tmp/test_prometheus_metrics.py $NAMESPACE {{ test_scenario['values']['datanode-pvcs'] }}
