---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: test-hdfs
spec:
  image:
    productVersion: "{{ test_scenario['values']['hadoop-latest'] }}"
    pullPolicy: IfNotPresent
  clusterConfig:
    dfsReplication: 1
    zookeeperConfigMapName: test-znode
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  dataNodes:
    roleGroups:
      remove: null
