---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: test-hdfs
spec:
  image:
    productVersion: "{{ test_scenario['values']['hdfs-latest'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['hdfs-latest'].split('-stackable')[1] }}"
  zookeeperConfigMapName: test-znode
  dfsReplication: 1
  dataNodes:
    roleGroups:
      remove: null
