---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: test-hdfs
spec:
  version: {{ test_scenario['values']['hdfs-latest'] }}
  zookeeperConfigMapName: test-znode
  dfsReplication: 1
  dataNodes:
    roleGroups:
      remove: null
