---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: test-hdfs
spec:
  image:
{% if test_scenario['values']['hadoop-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['hadoop-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['hadoop-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['hadoop-latest'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  dataNodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default: null
      newrolegroup:
        replicas: 1
