---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: test-hdfs
spec:
  dataNodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      resources:
        cpu:
          max: '1'
          min: '300m'
        memory:
          limit: '512Mi'
    roleGroups:
      default: null
      newrolegroup:
        replicas: 1
