---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: test-hdfs
spec:
  image:
    productVersion: "{{ test_scenario['values']['hadoop-latest'] }}"
    repo: docker.stackable.tech/sandbox/docker-images-pr540-5212814
    pullPolicy: IfNotPresent
  dataNodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default: null
      newrolegroup:
        replicas: 1
