[Unit]
Description=Stackable Operator for Apache HDFS
Before=
After=network.target
[Service]
User=root
ExecStart=/opt/stackable/hdfs-operator/stackable-hdfs-operator
Restart=on-abort
StandardOutput=journal
StandardError=journal
Environment="HDFS_OPERATOR_LOG=info"
[Install]
WantedBy=multi-user.target
