---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: test-hdfs-automatic-log
spec:
  image:
{% if test_scenario['values']['hadoop'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['hadoop'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['hadoop'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['hadoop'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    vectorAggregatorConfigMapName: hdfs-vector-aggregator-discovery
    zookeeperConfigMapName: test-hdfs-automatic-log-znode
  nameNodes:
    config:
      resources:
        cpu:
          max: 250m
          min: 50m
    roleGroups:
      default:
        replicas: 2
        config:
          logging:
            enableVectorAgent: true
            containers:
              hdfs:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              zkfc:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              vector:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              formatNameNodes:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              formatZooKeeper:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
        podOverrides:
          spec:
            containers:
              - name: vector
                volumeMounts:
                  - name: prepared-logs
                    mountPath: /stackable/log/prepared-logs
            volumes:
              - name: prepared-logs
                configMap:
                  name: prepared-logs
  dataNodes:
    config:
      resources:
        cpu:
          max: 250m
          min: 50m
    roleGroups:
      default:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              hdfs:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              vector:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              waitForNameNodes:
                console:
                  level: INFO
                file:
                  # Set the log level to DEBUG because if the NameNodes
                  # are already ready then nothing is logged at the INFO
                  # level.
                  level: DEBUG
                loggers:
                  ROOT:
                    level: DEBUG
  journalNodes:
    config:
      resources:
        cpu:
          max: 250m
          min: 50m
    roleGroups:
      default:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              hdfs:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              vector:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
