---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: hdfs-zk
spec:
  servers:
    config:
      resources:
        storage:
          data:
            capacity: '2Gi'
    roleGroups:
      default:
        replicas: 1
        config:
          myidOffset: 10
  version: {{ test_scenario['values']['zookeeper'] }}
  stopped: false
