---
apiVersion: zookeeper.stackable.tech/v1alpha1
kind: ZookeeperCluster
metadata:
  name: hdfs-zk
spec:
  version: {{ test_scenario['values']['zookeeper'] }}
  servers:
    config:
      resources:
        cpu:
          min: '300m'
          max: '600m'
        memory:
          limit: '512Mi'
    roleGroups:
      default:
        replicas: 1
