---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-hdfs
timeout: 180
---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: hdfs
spec:
  version: {{ test_scenario['values']['hadoop'] }}
  zookeeperConfigMapName: hdfs-zk
  dfsReplication: 1
  nameNodes:
    config:
      resources:
        cpu:
          max: '1'
          min: '300m'
        memory:
          limit: '512Mi'
    roleGroups:
      default:
        replicas: 2
  dataNodes:
    config:
      resources:
        cpu:
          max: '1'
          min: '300m'
        memory:
          limit: '512Mi'
    roleGroups:
      default:
        replicas: 1
  journalNodes:
    config:
      resources:
        cpu:
          max: '1'
          min: '300m'
        memory:
          limit: '512Mi'
    roleGroups:
      default:
        replicas: 1
