[Unit]
Description=Stackable Operator for Apache Hadoop HDFS
Before=
After=network.target
[Service]
User=root
ExecStart=/opt/stackable/stackable-hdfs-operator-server/stackable-hdfs-operator-server
Restart=on-abort
StandardOutput=journal
StandardError=journal
Environment="HDFS_OPERATOR_LOG=info"
[Install]
WantedBy=multi-user.target
