---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: |
      kubectl apply -n $NAMESPACE -f - <<EOF
      ---
      apiVersion: secrets.stackable.tech/v1alpha1
      kind: SecretClass
      metadata:
        name: kerberos-$NAMESPACE
      spec:
        backend:
          kerberosKeytab:
{% if test_scenario['values']['kerberos-backend'] == 'mit' %}
            realmName: CLUSTER.LOCAL
            kdc: krb5-kdc.$NAMESPACE.svc.cluster.local
{% endif %}
            admin:
              mit:
{% if test_scenario['values']['kerberos-backend'] == 'mit' %}
                kadminServer: krb5-kdc.$NAMESPACE.svc.cluster.local
{% endif %}
            adminKeytabSecret:
              namespace: $NAMESPACE
              name: secret-operator-keytab
            adminPrincipal: stackable-secret-operator
      EOF
---
apiVersion: v1
kind: Secret
metadata:
  name: secret-operator-keytab
data:
{% if test_scenario['values']['kerberos-backend'] == 'mit' %}
  # To create keytab. When promted enter password asdf
  # cat | ktutil << 'EOF'
  # list
  # add_entry -password -p stackable-secret-operator@CLUSTER.LOCAL -k 1 -e aes256-cts-hmac-sha384-192
  # wkt /tmp/keytab
  # EOF
  keytab: BQIAAABdAAEADUNMVVNURVIuTE9DQUwAGXN0YWNrYWJsZS1zZWNyZXQtb3BlcmF0b3IAAAABZAYWIgEAFAAgm8MCZ8B//XF1tH92GciD6/usWUNAmBTZnZQxLua2TkgAAAAB
{% endif %}
