---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
timeout: 180
---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: hdfs
spec:
  image:
{% if test_scenario['values']['hadoop-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['hadoop-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['hadoop-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['hadoop-latest'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    dfsReplication: 1
    zookeeperConfigMapName: hdfs-zk
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  clusterOperation:
    stopped: true
    reconciliationPaused: false
  nameNodes:
    config:
      gracefulShutdownTimeout: 1m
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 2
  dataNodes:
    config:
      gracefulShutdownTimeout: 1m
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
  journalNodes:
    config:
      gracefulShutdownTimeout: 1m
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
